.animation-color:hover{
    animation: anim1  7s linear;
    transition-duration: 5000ms;
}

.animation-title{
      animation-duration: 5s;
      animation-name: anim2;

}

@keyframes anim1{
      0% {
      transform: scale(1.1);
      background-color:#ffd56b ;
     
  }
      50% {
          transform: scale(1.15) ;
          background-color: #99CC33;
  }

      75%   {
          transform: scale(1.10);
          background-color: #ff8585;
         
  }
      100%{
        transform: scale(1.00);
          background-color: #fff5c0;
          transition-duration: 500ms;
      }
}

@keyframes anim2{
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

