
.navbar-label{
    padding-left:6px;
    padding-right:6px;
}



.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    list-style-type: none;


}

.navbar-link{
        color:var(--color-black);

}

.fas{
    float:left;
}


@media  screen and (max-width: 400px)
{
    .navbar-label{
        padding-left:2px;
        padding-right:2px;
    }
    
    .navbar{
        padding-left:0px;
    }
}